<mapper namespace="com.fins.card.mapper.CardMapper">

    <!-- 카드 목록 조회 -->
    <select id="selectAllCards" resultType="com.finns.card.dto.Card">
        SELECT * FROM cards
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 전체 카드 수 조회 -->
    <select id="countCards" resultType="long">
        SELECT COUNT(*) FROM cards
    </select>

    <!-- 특정 카드 조회 -->
    <select id="selectCardById" resultType="com.finns.card.dto.Card">
        SELECT * FROM cards WHERE card_no = #{card_no}
    </select>

</mapper>
